@import '../../styles/variables.scss';

.loginForm {
  max-width: 300px;
  margin: 50px auto;
  padding: 20px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  &__title {
    text-align: center;
  }
  &__button {
    width: 100%;
  }
  &__forgot {
    float: right;
  }
}

.ant-col-rtl .loginForm__forgot {
  float: left;
}
