@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.buttonGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 10px;
  }

.button {
    width: 48%;
    font: 600 12px 'Roboto', sans-serif;
    color: #424242;
    border: 1px solid #424242;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 10px 0;
    transition: 300ms ease-out background-color, 300ms ease-out color, 300ms ease-out border;
    &:first-child {
        margin-right: 10px;
    }  
    &:last-child {
        margin-top: 10px;
    }
    &:hover {
        background-color: rgb(184, 181, 181);
        color: #fff;
        border: 1px solid rgb(184, 181, 181);
    }
    &:active {
        background-color: rgb(245, 245, 245);
    }
}