@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import '../../styles/variables.scss';

@mixin fontFrame($weight, $size, $color) {
    font: $weight $size 'Roboto', sans-serif;
    color: $color;
}

.list-item {
    width: 100%;
    display: flex;
    min-height: 80px; 
    font: $generalFont;
    &_about {
        width: 80%;
        padding-right: 5px;
    }
    &__second-name {
        color: $textColor;
    }
    &__genre {
        color: $textColor;
    }
    &_actions-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    &_rating {
        @include fontFrame(400, 17px, $activbtn);
        margin-bottom: 5px;
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
    }
} 