@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import './variables.scss';
@import './antd_style_patches.scss';
@import './dark.scss';

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  transition: .2s all ease-in;
}

button {
  cursor: pointer;
}

input, button {
  outline: none;
  background: transparent;
  border: none;
}

.App {
  height: 100%;
  width: 100%;
  position: fixed;
}

@media screen and (orientation: landscape) {
  .App {
    width: 55%;
    margin: 0 auto;
    position:relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }
  .App:before, .App:after {
    content:"";
      position:absolute;
      z-index:-1;
      box-shadow:0 0 20px rgba(0,0,0,0.8);
      top:10px;
      bottom:10px;
      left:0;
      right:0;
  }
  .App:after {
    right:10px;
    left:auto;
    transform:skew(8deg) rotate(3deg);
  }
}