@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import './variables.scss';
@import './antd_style_patches.scss';
@import './dark.scss';

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  transition: .2s all ease-in;
}

button {
  cursor: pointer;
}

input, button {
  outline: none;
  background: transparent;
  border: none;
}

.App {
  height: 100%;
  width: 100%;
  position: fixed;
}