$activbtn: #DA952D;
$box-shadow: 4px 4px 8px 1px rgba(34, 60, 80, 0.29);
$border-color: #ccc;
$border-radius: 5px;
$generalFont: 400 16px 'Roboto', sans-serif;
$textColor: rgb(112, 112, 112);
$templateBackgroundColor: rgb(245, 245, 245);
$navigationHeight: 46px;