@import "../../styles/variables.scss";

.filmLists {
  &__title {
    margin: 1rem;
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: $box-shadow;
  }
  &__link {
    color: $textColor;
    font-size: 16px;
  }
}
