@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import '../../styles/variables.scss';

.favorites {
  &--wrapper {
    height: 100%;
  }
  &__list {
    height: 86.5%;
    position: relative;
    overflow-y: auto;
  }
  &__header {
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 600 24px 'Roboto', sans-serif;
    text-transform: uppercase;
    box-shadow: 0px 5px 10px -3px rgba(34, 60, 80, 0.2);
  }
  &__placeholder::before {
    content: $noFilmsText;
    height: 100%;
    width: 100%;
    position: fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    font: $generalFont;
    font-size: 36px;
    color: $textColor;
    text-transform: uppercase;
  }
  &__emptyBlock {
    width: 100%;
    height: 50px;
  }
}