@import '../../styles/variables.scss';
.section-settings{
  height: 100%;
}
.div-filter {
  box-shadow: inset 0 3px 3px #eee;
  text-align: center;
}
.reg-button {
  margin: 20px;
  padding: 5px 80px 5px 80px;
  margin: 40px 0 20px 0;
  color: #ffffff;
  background-color: $activbtn;
  border: none;
  border-radius: 7px;
  font-size: 10px;
  font-size: 12px;
}
.h2-fil{
  color: #555;
  font-size: 18px;
}
.h2-fil-switch{
  width: 40px;
  height: 20px;
  background-color: #fff;
  display: inline-block;
  border-style: solid;
  border-radius: 10px;
  border-color: $activbtn;
  border-width: 1px;
  vertical-align: middle;
  margin: 0px 15px;
}
.h2-fil-slider-point{
  width: 14px;
  height: 14px;
  background-color: $activbtn;
  display: inline-block;
  border-radius: 7px;
  vertical-align: top;
  margin: 2px;
  float: left;
}
.h2-fil-2{
  font-size: 18px;
}
.delete-button{
  margin: 20px;
  padding: 5px 80px 5px 80px;
  margin: 20px 0 20px 0;
  color: $activbtn;
  background-color: #fff;
  border: solid;
  border-color: $activbtn;
  border-width: 2px;
  border-radius: 7px;
  font-size: 10px;
  font-size: 12px;
}

.switch-style{
  background-color: $activbtn;
  margin: 0 10px 0 10px;
}
.div-range-slider{
  display: flex;
  flex-direction: row;
}
.range-slider-title{
  width: 30%;
  margin: 5px 0 5px 0;
}
.range-slider-filter{
  width: 60%;
}
.div-selector{
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}
