@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import '../../styles/variables.scss';

.lists {
  &-wrapper {
    min-width: 151px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $templateBackgroundColor;
    overflow-y: scroll;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $headerHeight;
    background-color: #fff;
    margin-bottom: 0px !important;
    padding: 0px;
    box-shadow: 0 3px 4px rgba(0,0,0, 0.2);
    z-index: 1;
    &--title {
      font-size: 26px;
      letter-spacing: 0.5px;
      margin: 0 !important;
      text-transform: uppercase;
    }
  }
  &__container {
    font: $generalFont;
  }
  &__films-counter {
    color: $textColor;
  }
}