@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import '../../styles/variables.scss';

.lists {
  &--wrapper {
    min-width: 151px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $templateBackgroundColor;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $headerHeight;
    background-color: #fff;
    margin-bottom: 0px !important;
    box-shadow: 0 3px 4px rgba(0,0,0, 0.2);
    z-index: 1;
    &--title {
      letter-spacing: 0.5px;
      margin: 0 !important;
      text-transform: uppercase;
    }
  }
  &__content--list {
    color: $textColor; 
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
  }
}