---
---

@import"{{ site.theme }}";
.page-header {
    text-align: center;
    background-color: #751578;
    background-image: linear-gradient(120deg, #155799, #751578);
};
.main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #751578;
};
