@import '../../styles/variables.scss';

.formWrapper {
  width: 100%;
  height: 100vh;
  padding: 50px 0 50px;
  overflow-y: auto;
}

.regForm {
  background-color: $templateBackgroundColor;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  & label,
  &__agreement,
  &--switcher {
    color: $textColor; 
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }
  &--switcher {
    display: flex;
    justify-content: center;
    & a {
      margin-left: 0.3em;
    }
  }
  &__title {
    text-align: center;
    text-transform: uppercase;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    background-color: $activbtn;
    color: white;
    border: 2px solid $activbtn;
    text-transform: uppercase;
    font-weight: bold;
  }
  &__agreement,
  &__linkToLogin {
    color: $activbtn;
  }
}

@media screen and (orientation: landscape) {
  .formWrapper {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $templateBackgroundColor;
  }
  .regForm {
    max-width: 100%;
    margin: 0;
    padding: 20px;
    border: none;
    box-shadow: none;
  }
}