@import '../../styles/variables.scss';

.navigation {
  &__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    position: fixed;
    width: 100%;
    height: $navigationHeight;
    bottom: 0;
    background-color: #eee;
    background: linear-gradient(0deg, #ccc, #eee);
    border-top: 1px solid #ccc;
    .ant-radio {
      display: none;
    }
    .divition-line {
      height: ($navigationHeight - 12px);
      width: 1px;
      background-color: $navigationButtonColor;
      opacity: 0.6;
      align-self: center;
    }
    .search-icon_small {
      font-size: 30px;
    }
  }
  &__buttons {
    fill: $navigationButtonColor;
    &.ant-radio-wrapper-checked {
      fill: $activbtn;
    }
  }
}

@media screen and (orientation: landscape) {
  .navigation {
    &__container {
      width: 55%;
    }
  }
}