.filter-div{
}
.filter-div-name{
  width: 100px;
  display: inline-block;
  text-align: left;
}
.filter-div-slider{
  width: 100px;
  height: 4px;
  background-color: #bbb;
  display: inline-block;
  border-style: none;
  border-radius: 2px;
  vertical-align: middle;
  margin: 0px 15px;
  position: relative;
}
.filter-div-bullet{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #d89437;
  vertical-align: top;
  position: absolute;
  top: -8px;
  left: 14px;
}
.filter-div-bullet-2{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #d89437;
  vertical-align: top;
  position: absolute;
  top: -8px;
  left: 64px;
}
.filter-div-color{
  width: 50px;
  height: 4px;
  background-color: #d89437;
  display: inline-block;
  border-style: none;
  border-radius: 2px;
  vertical-align: middle;
  position: absolute;
  left: 19px;
}
